html{
   background-color: aqua;
}

/* body{
    margin: 0;
    min-height: 100vh;
    background-size: 100vw 100vh; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
} */

.contenedor{
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.contenedor2{
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.contenedor3{
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }